.container {
    /* background-color: #ffcac8; */
    width: 100vw;
    height: 100vh;
}

.addButton {
    /* background-color: aquamarine; */
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* position: absolute;
    top: 50%;
    right: 50%; */
    width: 40vw;
    margin: 20% auto;
}

.addButton>button {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    width: 160px;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
}

.addButton>button:hover {
    background: #f8f988;
}

.taskManagerContainer {
    background-color: red;
}